<launch>

    <env name="ROS_MASTER_URI" value="http://192.168.1.10:11311" />
    <env name="ROS_HOSTNAME" value="192.168.1.10" />

    <!-- 流水线ip和port -->
    <arg name="assembly_host" default="192.168.1.104"/>
    <arg name="assembly_port" default="5566"/>

    <!-- aubo ip和port -->
    <arg name="aubo_host" default="192.168.1.101"/>
    <arg name="aubo_port" default="8899"/>
    <arg name="kinect_camera_2_line" default="1050.0"/> <!-- 相机到传送带表面垂直距离-->
    <arg name="line_2_agv_top" default="-10.0"/> <!-- 传送带表面到AGV小车表面垂直距离-->
    <arg name="catch_depth" default="15.0"/> <!-- 夹爪抓取深度-->
    <arg name="config_env" default="env1"/>  <!-- 默认视觉识别参数配置文件目录， 修改此属性可以创建并使用新的环境，并且旧的环境保留-->


    <!-- ui ip和port -->
<!--    <arg name="ui_host" default="192.168.1.100"/>
    <arg name="ui_port" default="10008"/>-->

    <!-- laser ip和port -->
    <arg name="laser_host" default="172.16.54.100"/>
    <arg name="laser_port" default="8899"/>

    <!-- web ip和port -->
    <arg name="web_host" default="robot.czxy.com"/>
    <arg name="web_port" default="39999"/>

    <!-- ui 同步节点 -->
<!--     <node pkg="ui_sync" type="ui_sync_node.py" name="ui_sync"> -->
<!--         <param name="ui_host" type="str" value="$(arg ui_host)"/> -->
<!--         <param name="ui_port" type="int" value="$(arg ui_port)"/> -->
<!--     </node> -->

    <!-- 流水线节点 -->
    <node pkg="assembly_line" type="assembly_line_node.py" name="assembly_line">
        <param name="assembly_host" type="str" value="$(arg assembly_host)"/>
        <param name="assembly_port" type="int" value="$(arg assembly_port)"/>
    </node>

    <!-- aubo ui 同步节点 -->
<!--     <node pkg="aubo_ctrl" type="aubo_state_node.py" name="aubo_state"> -->
<!--         <param name="aubo_host" type="str" value="$(arg aubo_host)"/> -->
<!--         <param name="aubo_port" type="int" value="$(arg aubo_port)"/> -->
<!--     </node> -->

    <!-- kinect2 相机节点 -->
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />

    <!-- 大环控制节点 -->
    <include file="$(find dh_hand_driver)/launch/dh_hand_controller.launch" />

    <!-- 相机节点 -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="960" />
        <param name="pixel_format" value="yuyv" />  <!-- or yuyv/nv12/mjpeg/uncompressed -->
        <param name="camera_frame_id" value="usb_cam" />
        <param name="framerate" value="15"/>
        <!--        <param name="io_method" value="mmap"/>-->
        <!--        <remap from="/usb_cam/image_raw" to="/laser/image"/>-->
    </node>

    <!-- 机械臂-盒子检测定位节点 -->
    <node pkg="lab_vision" type="box_detector_node.py" name="box_detector_node">
        <param name="box_detector_pkg_path" type="str" value="$(find lab_vision)"/>
        <param name="config_env" type="str" value="$(arg config_env)"/>

    </node>

    <!-- 激光-定位节点-->
    <node pkg="lab_vision" type="laser_locator_node.py" name="laser_locator_node" output="screen">
        <param name="laser_locator_pkg_path" type="str" value="$(find lab_vision)"/>
        <param name="config_env" type="str" value="$(arg config_env)"/>
    </node>


    <!-- aubo 控制节点 -->
    <node pkg="aubo_ctrl" type="aubo_ctrl_node" name="aubo_ctrl">
        <param name="aubo_host" type="str" value="$(arg aubo_host)"/>
        <param name="aubo_port" type="int" value="$(arg aubo_port)"/>
        <param name="kinect_camera_2_line" type="double" value="$(arg kinect_camera_2_line)"/>
        <param name="line_2_agv_top" type="double" value="$(arg line_2_agv_top)"/>
        <param name="catch_depth" type="double" value="$(arg catch_depth)"/>
        <param name="aubo_ctrl_pkg_path" type="str" value="$(find aubo_ctrl)"/>
    </node>

    <!-- 激光打标节点 -->
    <node pkg="laser_mark" type="laser_mark_node.py" name="laser_mark" output="screen">
        <param name="host" type="str" value="$(arg laser_host)"/>
        <param name="port" type="int" value="$(arg laser_port)"/>
    </node>

<!--    &lt;!&ndash; slam 节点 &ndash;&gt;-->
<!--    <node pkg="slam_ctrl" type="move_path.py" name="slam_move_path" output="screen">-->
<!--    </node>-->

    <!-- 订单管理 -->
    <node pkg="order_manager" type="order_tip_node.py" name="order_tip" output="screen">
        <param name="service_host" type="str" value="$(arg web_host)"/>
        <param name="service_port" type="int" value="$(arg web_port)"/>
    </node>
    <node pkg="order_manager" type="order_manager_node.py" name="order_manager" output="screen">
        <param name="service_host" type="str" value="$(arg web_host)"/>
        <param name="service_port" type="int" value="$(arg web_port)"/>
    </node>

</launch>