<launch>

    <!-- laser ip和port -->
    <arg name="laser_host" default="172.16.54.100"/>
    <arg name="laser_port" default="8899"/>


    <!--     相机节点 -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="log" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="960" />
        <param name="pixel_format" value="yuyv" />  <!-- or yuyv/nv12/mjpeg/uncompressed -->
        <param name="camera_frame_id" value="usb_cam" />
        <param name="framerate" value="30"/>
<!--        <param name="io_method" value="mmap"/>-->
<!--        <remap from="/usb_cam/image_raw" to="/laser/image"/>-->
      </node>

<!--    <node pkg="image_view" type="image_view" name="image_view" respawn="false" output="screen">-->
<!--        <remap from="image" to="/$(arg camera_ns)/image_raw"/>-->
<!--        &lt;!&ndash;        <param name="image" value="/camera/image_raw" />&ndash;&gt;-->
<!--        <param name="autosize" value="true" />-->
<!--    </node>-->

    <!-- USB 相机节点 -->
<!--    <include file="$(find usb_cam)/launch/uvc_cam-test.launch"/>-->

    <!-- 打标机数据处理节点 -->
    <node pkg="lab_vision" type="laser_box_node.py" name="laser_box_node" output="screen">
        <param name="laser_mark_pkg_path" type="str" value="$(find lab_vision)"/>
    </node>

    <!-- 流水线节点 -->
<!--    <node pkg="assembly_line" type="assembly_line_node.py" name="assembly_line">-->
<!--    </node>-->

    <!-- 激光打标节点 -->
    <node pkg="laser_mark" type="laser_mark_node.py" name="laser_mark" output="screen">
        <param name="host" type="str" value="$(arg laser_host)"/>
        <param name="port" type="int" value="$(arg laser_port)"/>
    </node>

</launch>