<launch>

    <!-- laser ip和port -->
    <arg name="laser_host" default="192.168.1.10"/>
    <arg name="laser_port" default="8899"/>

    <!-- 相机节点 -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video2" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
        <remap from="/usb_cam/image_raw" to="/laser/image"/>
      </node>

    <!-- 激光打标节点 -->
    <node pkg="laser_mark" type="laser_mark_node.py" name="laser_mark" output="screen">
    </node>

</launch>